{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "allowImportExportEverywhere": true
    }
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true
  },
  "plugins": [
    "jsx-a11y",
    "flowtype"
  ],
  "rules": {
    "operator-linebreak": [
      "error",
      "after"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}